<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for category in categories %}
        <p><a href = "{{ category.get_absotule_url }}">{{category.name}} </a></p>
    {% endfor %}
<hr>
    {% if post_list %}
    {% for post in post_list %}
        <h2><a href = "{{ post.get_absolute_url }}">{{post.title}} </a></h2>
        <p>{{ post.mini_text }}</p>
        <small><p>{{ post.published_date }}</p></small>
    <small><p>Просмотрено - {{post.viewed}}</p></small>
    <small><p>Колисество комментраниев - {{post.get_comments_count}}</p></small>
    {% endfor %}
    {%else%}
    <h1>Постов нет</h1>
    {%endif%}
</body>
</html>