<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SPORT</h1>
    {% for category in categories %}
        <p><a href = "{% url 'category' category.slug %}">{{category.name}} </a></p>
    {% endfor %}
<hr>
        <h2>{{post.title}}</h2>
        <p>{{ post.mini_text }}</p>
        <p>Категория  - {{post.category}}</p>
        {# Теги - {%for tag in post.tags.all%} - комент HTML#}
        Теги - {%for tag in post.get_tags%}
                    {{tag.name}},
               {%endfor%}
        <br>
        <small>Автор: {{ post.author }} - {{post.published_date}}</small>
        <hr>


    <h4>Комментарии</h4>
    {% for coment in comments%}
        Пользователь - {{coment.author}}<br>
        {{coment.text}}<br>
        Добавлен - {{coment.created_date}}<br><br>
    {%endfor%}
</body>
</html>